VITE_FIREBASE_API_KEY=AIzaSyBMQFGzQpRSx_UlI_bJl_nLkDaykBFvUuU
VITE_FIREBASE_APP_ID=1:120784517849:web:f30c0e3ac0fae5cf5adcc8
VITE_FIREBASE_AUTH_DOMAIN=forensic-ai-ca5d6.firebaseapp.com
VITE_FIREBASE_MEASUREMENT_ID=G-1JSD2X2Z3L
VITE_FIREBASE_MESSAGING_SENDER_ID=120784517849
VITE_FIREBASE_PROJECT_ID=forensic-ai-ca5d6
VITE_FIREBASE_STORAGE_BUCKET=forensic-ai-ca5d6.firebasestorage.app
VITE_GEMINI_API_KEY=AIzaSyDJVv_vI2T7XBjP1FlI54cAUU57ySSpHFE
VITE_GROQ_API_KEY=YOUR_KEY_HERE
